:root {
   color-scheme: dark;

}

canvas {
   background-color: #2b2a33;
}

body {
   margin: 0;
   background-color: #2b2a33;
}

textarea {
   height: 130px;
}

section {
   display: flex;
   flex-direction: column;
   width: 100vw;
}

div {
   display: flex;
   flex-direction: column;
   width: 100vw;
}
