:root {
   color-scheme: dark;

}

canvas {
   position: absolute;
   top: 0;
   right: 0;
   background-color: #2b2a33;
   z-index: -1;
   height: 100vh;
   width: 100vw;
}

button {
   width: 100%;
}

body {
   margin: 0;
   background-color: #2b2a33;
}

textarea {
   height: 130px;
}

section {
   display: flex;
   flex-direction: column;
   width: 100vw;
}

div {
   display: flex;
   flex-direction: column;
   width: 100vw;
}
